
@model IEnumerable<_consume_.Models.tbl_model>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_sal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_mob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_company)
        </th>
        <th>Edit</th>
        <th>Details</th>
        <th>Delete</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Emp_Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Emp_name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Emp_Department)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Emp_sal)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Emp_mob)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Emp_company)
    </td>
    <td><a class=" btn btn-success" href="@Url.Action("Edit","Student", new { id=item.Emp_Id})">EDIT</a></td>
    <td><a class=" btn btn-warning" href="@Url.Action("Details","Student", new { id=item.Emp_Id})">DETAILS</a></td>
    <td><a class=" btn btn-danger" href="@Url.Action("Delete","Student", new { id=item.Emp_Id})">DELETE</a></td>

</tr>
}

</table>
